@model Parcial_1.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadPuertas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadPuertas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marcaVeh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marcaVeh.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaModificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaModificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
