@model IEnumerable<Parcial_1.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadPuertas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marcaVeh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCreado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaModificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadPuertas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marcaVeh.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaModificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
